body {
  background: linear-gradient(90deg, #2F80ED, #B2FFDA);
  margin: 0;
  font-family: Arial, sans-serif; 
}

.MainContent {
  text-align: center;
}

.AvatarImage {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Button {
  display: inline-flex;
  align-items: center;
  background-color: #0073b1; /* LinkedIn blue */
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.Button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.Button:hover {
  background-color: #005582; /* Darker LinkedIn blue */
}

.Button:nth-child(2) {
  background-color: #333; /* GitHub black */
}

.Button:nth-child(2):hover {
  background-color: #24292e; /* Darker GitHub black */
}

.Icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
